.navbar
{
    background-color: rgb(15, 83, 151); 
    padding-left: 10px;
}

.navbar > div li
{
    padding-left: 50px;

}

.navbar-custom, .navbar-text,
.navbar-brand,  .dropdown-menu
{
    background-color: rgb(15, 83, 151); 
}

.navbar-nav li a:hover
{
    background-color: rgb(118, 178, 238); 

}

.loginbtn
{
    position: absolute;
    right: 150px;
    top: 10px;
    text-align:end;
}
